@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');

@media (min-width: 800px) and (max-width: 1400px){
.edicao-texto-questionario{
    background-color: #CFEAFE;
    width: 40rem;
    height: 26rem;
}
.titulo-questionario{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 50px;
    font-family: "Righteous";
    color: #032D60;
}
.texto-questionario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 10%;
    font-family: "Ibarra+Real+Nova";
    color: #032D60;
    border: black;
}
.imagem-questionario{
    display: flex;
    justify-content: center;
    height: 50%;
    margin: 2%;
}
.alinhamento-questionario{
    display: flex;
    justify-content: center;
}
.edicao-botao-questionario{
    display: flex;
    justify-content: center;
}
.botao-questionario{
    width: 130px;
    height: 70px;
    border-radius: 12px;
    background-color: #032d60;
    color: white;
    border: none;
  }
.botao-questionario:hover{
    background-color: #669bbc;
}
}
@media (min-width: 450px) and (max-width: 799px){

}
@media screen and (max-width: 449px){

}