*{
    padding:0;
    margin:0;
    border:0   
}
.navegacao_tenis{
    height: 39rem;
    background-color: #222222;
    
}
.titulo_div1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #FF4F00;
}
.segundo_navegacao_marcas{
    height: 35rem;
    background-color: #757575;
}
.Calendario{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -5px;
    
}
.navegacao_marcas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    height: 50px;
}
.navegacao_camisas{
    display: flex;
    justify-content: center;
}
.div3{
    height: 35rem;
    background-color: #757575;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

