@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');

@media (min-width: 800px) and (max-width: 1400px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.titulo1-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegacao-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px; 
}
.estilo-input-header{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #032D60;
    gap: 10px;
    margin-top: 1%;
}
.input-buscar-header{
    
    background-color: transparent;
    color: white;
    border: none;
    font-family: "Righteous", sans-serif;
    width: 75%;
    height: 40%;
}
.lupa-header{
    color: white;
    width: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.input-buscar input:focus-visible {
    outline: none;
}
.menu-classico{
    display: flex;
    justify-content: center;
}
.menu-inicial-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    font-family: "Righteous", sans-serif;
}
.barras-header{
    width: 30px;
    margin-right: 1rem;
}
.perfil-header{
    width: 40px;
    margin-left: 1rem;
}
.lista-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
    white-space: nowrap;
    list-style: none;
}
.lista-header:visited{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
    white-space: nowrap;
    list-style: none;
}
}
@media (min-width: 450px) and (max-width: 799px){

}
@media screen and (max-width: 449px){

}