@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    padding:0;
    margin:0;
    border:0   
}
.cabecalho_global{
    height: 100px;
    background-color: #FF4F00;
    display: flex;
    justify-content: center;
}
.focvs_logotipo{
    height: 300px;
    width: 300px;
    margin-top: -100px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    font-weight: 600;
    border-radius: 1rem;
}
.catalogo:hover {
    padding: 10px;
    border: #222222 solid 3px;
    border-radius: 15px;
}