@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');
@media (min-width: 800px) and (max-width: 1400px){
.footer-border-box{
    display: flex;
    align-items: center;
    border: 5px solid #032D60;
    height: 11rem;
    margin-left: 8%;
    margin-right: 8%;
    padding: 6%;
}
.nav-footer{
    display: flex;
    gap: 10px;
    margin: 4%;
    
}
.trailblazers-footer{
    display:flex;
    align-items: center;
    gap: 100px;
    border: 5px solid #032D60;
    background-color: #032D60;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Ibarra Real Nova", serif;
}
.contato-footer{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #032D60;
    background-color: #032D60;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 10px;
    font-family: "Ibarra Real Nova", serif;
}
.logo-salesforce-footer{
   width: 150px;
   margin: 20%;
   margin-left: -15%;
}
.sustentabilidade-footer{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    background-color: #032D60;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Ibarra Real Nova", serif;
}
.logos-footer{  
}
.todas-redesSociais-footer{
    padding: 5%;
}
.youtube-icone{
    width: 20%;
    margin-bottom: 3%;
}
.instagram-footer{
    color: #032D60;
    margin: 5px;
    margin-left: 20px;
}
.redes-sociais-icone{
    width: 20%;
}
.facebook-footer{
    color: #032D60;
    font-size: 50px;
    margin: 5px;
}
.youtube-footer{
    color: #032D60;
    font-size: 50px;
    margin: 5px;
}
.dropdown-selecao{
    margin: 8% 4%;
}
.dropdown-menu{
    list-style: none;
}
.logoAMR{
    width: 200%;
    height: 200%;
    float: right;
    margin-right: -80%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin-left: -20%;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1rem;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  }
}
@media (min-width: 450px) and (max-width: 799px){

}
@media screen and (max-width: 449px){

}