@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');
@media (min-width: 1280px){
.footer-border-box{
    display: flex;
    align-items: center;
    border: 5px solid #032D60;
    height: 11rem;
    margin-left: 8%;
    margin-right: 8%;
    padding: 6%;
}
.nav-footer{
    display: flex;
    gap: 10px;
    margin: 4%;
    
}
.trailblazers-footer{
    display:flex;
    align-items: center;
    gap: 100px;
    border: 5px solid #032D60;
    background-color: #032D60;
    color: white;
    padding: 8px;
    border-radius: 20px;
    font-size: 30px;
    font-family: "Ibarra Real Nova", serif;
}
.contato-footer{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #032D60;
    background-color: #032D60;
    color: white;
    padding: 8px;
    border-radius: 20px;
    font-size: 30px;
    margin-top: 10px;
    font-family: "Ibarra Real Nova", serif;
}
.logo-salesforce-footer{
   width: 150px;
   margin: 20%;
   margin-left: -15%;
}
.sustentabilidade-footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #032D60;
    color: white;
    padding: 8px;
    border-radius: 20px;
    font-size: 30px;
    font-family: "Ibarra Real Nova", serif;
}
.logos-footer{  
}
.todas-redesSociais-footer{
    padding: 5%;
}
.youtube-icone{
    width: 20%;
    margin-bottom: 3%;
}
.instagram-footer{
    color: #032D60;
    margin: 5px;
    margin-left: 20px;
}
.redes-sociais-icone{
    width: 20%;
}
.facebook-footer{
    color: #032D60;
    font-size: 50px;
    margin: 5px;
}
.youtube-footer{
    color: #032D60;
    font-size: 50px;
    margin: 5px;
}
.dropdown-selecao{
    margin: 8%;
}
.dropdown-menu{
    list-style: none;
}
.logoAMR{
    width: 200%;
    height: 200%;
    float: right;
    margin-right: -30%;
}
}