@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');

@media (min-width: 800px) and (max-width: 1400px){
.titulo-desenvolvedores{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 30px;
    font-family: "Righteous";
    color: #032D60;
}
.secao-desenvolvedores{
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.layout-desenvolvedores{
    display: flex;
    gap: 4rem;
}
.layout-quadrado-desenvolvedores{
    width: 15rem;
    height: 17rem;
    background-color: #032D60;
    border-radius: 20px;
}
.layout-imagem-desenvolvedores{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formatacao-imagem-desenvolvedores{
    margin-top: 4%;
    width: 200px;
    border-radius: 50px;
}
.texto-imagem-desenvolvedores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Righteous", sans-serif;
    color: white;
    list-style: none;
    margin-top: 1%;
}
.github{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 2%;
    color: #032D60;
}
.github:visited{
    color: #032D60;
}
}
@media (min-width: 450px) and (max-width: 799px){

}
@media screen and (max-width: 449px){

}