@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    padding:0;
    margin:0;
    border:0   
}
footer{
    height: 32rem;
    background-color: #222222;
    display: flex;
    justify-content: center;
}
.rodape_div1{
    width: 40%;
    margin-top: 8%;
    height: 30%;
    padding: 20px;
    color: white;
    font-family: "Madimi One", sans-serif;
}
.rodape_div2{
    float: right;
}
